
<footer class="posto-foot">
  <div id="posto-info" style="display:none;">
  POSTO is a curated selection of places, objects and guides by <a href="https://summer-holiday.com" target="_blank">Summer Holiday</a> 
  </div>
</footer>

<!-- Privacy-friendly analytics by Plausible -->
<script async src="https://plausible.io/js/pa-1HoWOhl3IAm6dlcK-3sNc.js"></script>
<script>
  window.plausible=window.plausible||function(){(plausible.q=plausible.q||[]).push(arguments)},plausible.init=plausible.init||function(i){plausible.o=i||{}};
  plausible.init();

</script>
